
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui three column grid">
    <div class="column">
        <a href="/Default/SystemApplication">
            <div class="ui fluid huge blue vertical animated button" tabindex="0">
                <div class="visible content">
                    <font>
                        <font>
                            <i class="block layout icon"></i>
                            應用程式
                        </font>
                    </font>
                </div>
                <div class="hidden content">
                    <font>
                        <font>
                            <i class="block layout icon"></i>
                            應用程式
                        </font>
                    </font>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="https://w3.hibox.hinet.net" target="_blank">
            <div class="ui fluid huge blue vertical animated button" tabindex="0">
                <div class="visible content">
                    <font>
                        <font>
                            <i class="mail icon"></i>
                            郵件
                        </font>
                    </font>
                </div>
                <div class="hidden content">
                    <font>
                        <font>
                            <i class="mail icon"></i>
                            郵件
                        </font>
                    </font>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="/Default/Calender">
            <div class="ui fluid huge blue vertical animated button" tabindex="0">
                <div class="visible content">
                    <font>
                        <font>
                            <i class="calendar icon"></i>
                            行事曆
                        </font>
                    </font>
                </div>
                <div class="hidden content">
                    <font>
                        <font>
                            <i class="calendar icon"></i>
                            行事曆
                        </font>
                    </font>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="/Default/Description">
            <div class="ui fluid huge blue vertical animated button" tabindex="0">
                <div class="visible content">
                    <font>
                        <font>
                            <i class="help icon"></i>
                            說明
                        </font>
                    </font>
                </div>
                <div class="hidden content">
                    <font>
                        <font>
                            <i class="help icon"></i>
                            說明
                        </font>
                    </font>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="info circle icon"></i>
                        其它
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="info circle icon"></i>
                        其它
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>

</div>

