@{
    ViewBag.Title = "SystemApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*麵包屑*@
<div class="ui breadcrumb">
    <a class="section">首頁</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">應用程式</div>
</div>
<div class="ui two column grid menu">
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid huge blue vertical animated button" tabindex="0">
            <div class="visible content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
            <div class="hidden content">
                <font>
                    <font>
                        <i class="setting icon"></i>
                        設定
                    </font>
                </font>
            </div>
        </div>
    </div>
</div>