
@{
    ViewBag.Title = "SystemSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SystemSetup</h2>
@Html.Encode(ViewData["Message_ViewData"])
<br>
@Html.Encode(ViewBag.Message_ViewBag)
<br>
@Html.Encode(TempData["Message"])
<br>

